/* Setting up out color variables for the theme */
/* bg: #92C9B1; */
:root {
  --primary: #9AE19D;
  --secondary: #474A48;
  --accent: #537A5A;
  --dark: #474A48;
  --darker: #2C302E;
  --success: #28A745;
  --danger: #DC3545;
  --warning: #FFC107;
  --info: #17A2B8;
  --border: #E0E0E0;
  --disabled: #B1B1B1;
  --light-bg: #fffaf1;
  --bg: #92C9B1;
}

/* Primary Setup */
html {
  height: 100%;
}

body {
  font-family: 'Raleway', 'sans-serif';
  margin: 0;
  height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
}
/* END Primary Setup */

/* Helpers */
.divider {
  border-bottom: 1px solid var(--border);
}
/* END Helpers */

/* Setting up our CSS Grid */
#__layout > div {
  height: 100%;
  display: grid;
  font-size: 16px;
  grid-template-areas: 'header header'
                       'aside main'
                       'aside foot';
  grid-template-rows: 64px 1fr auto;
  grid-template-columns: 10% 90%;
}

header {
  grid-area: header;
  height: 63px;
  line-height: 63px;
  width: 100%;
}

header > h1 {
  margin: 0;
  font-size: 24px;
  padding: 0 1em;
}

header > h1 > a > img {
  vertical-align: middle;
}

header > h1 > small {
  font-size: 0.5em;
  font-weight: normal;
}

aside {
  grid-area: aside;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  overflow: auto;
}

aside > nav ul {
  padding: 0;
  list-style: none;
}

aside > nav > ul > li {
  padding-bottom: 1rem;
}

aside > nav > ul > li > a {
  font-size: 20px;
}

aside > nav a {
  color: var(--dark);
  display: block;
  padding: 0.4rem 1rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.5s ease;
}

aside > nav a:hover {
  color: var(--primary);
  background-color: var(--dark);
}

main {
  grid-area: main;
  padding: 0 2rem 2rem;
  height: 100%;
  background-color: #FFF;
  border-top: 1px solid var(--border);
}

footer {
  grid-area: foot;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--border);
  background-color: #FFF;
}

@media (max-width: 40rem) {
  #__layout > div {
    grid-template-columns: 100%;
    grid-template-areas: 'header' 'main' 'aside' 'foot';
  }

  aside, header {
    position: inherit;
    width: auto;
    height: auto;
  }
}
/* END Grid Setup */

/* Button Styles */
.btn,
.btn--xs,
.btn--sm,
.btn--md,
.btn--lg {
  background-color: var(--accent);
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.btn--success {
  background-color: var(--success);
}

.btn--danger {
  background-color: var(--danger);
}

.btn--warn {
  background-color: var(--warning);
}

.btn--xs {
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  font-family: inherit;
}

.btn--sm {
  padding: 0.25rem 0.6rem;
  font-size: 16px;
  font-family: inherit;
}

.btn--md {
  font-size: 20px;
  padding: 0.3rem 0.75rem;
  font-family: inherit;
}

.btn--lg {
  padding: 0.5rem 0.9rem;
  font-size: 24px;
  font-family: inherit;
}

.btn--fill {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  position: relative;
  font-size: 1.25rem;
  font-family: inherit;
  padding: 0.3rem 0.75rem;
  z-index: 0;
  border: none;
  background: var(--bg);
  color: var(--dark);
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn--fill:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out, -webkit-transform 0.15s ease-out;
  transition: opacity 0.15s ease-out, -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, -webkit-transform 0.15s ease-out;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.btn--fill:hover,
.btn--fill:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.3);
  color: var(--primary);
  -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn--fill:hover:before,
.btn--fill:focus:before {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/* END Button Styles */

/* Card Styles */
.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFF;
  background-clip: border-box;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.card-group {
  width: 100%;
  height: 100%;
}

.card-group .card {
  display: inline-block;
  margin-top: 0;
  width: 50%;
}

.card > hr {
  margin-left: 0;
  margin-right: 0;
}

.card__body {
  padding: 1.25rem;
}

.card__body p {
  margin-top: 0
}

.card__header {
  background-color: var(--bg);
  color: var(--dark);
  border: 1px solid var(--bg);
}

.card__title {
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}

.card__subtitle {
  margin-top: -(0.35rem / 2);
  margin-bottom: 0.25rem;
}

.card__text:last-child {
  margin-bottom: 0;
}

.card__link:hover {
  text-decoration: none;
}

.card__link + .card__link {
  margin-left: 1.25rem;
}

/* END Card Styles */

/* Tabs Styles */
.tabs {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.tabs__item {
  font-weight: 600;
  margin-bottom: -2px;
}

.tabs__link {
  color: var(--dark);
  text-decoration: none;
  display: block;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color .20s ease-in-out,border-color .20s ease-in-out,color .20s ease-in-out;
}

.tabs__link:hover,
.tabs__link:focus {
  border-color: var(--border);
}

.tabs__link--disabled {
  color: var(--disabled);
  background-color: transparent;
  border-color: transparent;
}

.tabs__link--active {
  color: var(--primary);
  background-color: #FFF;
  border-bottom: 0;
  border-color: var(--border);
}
/* END Tabs Styles */

/* Select Styles */
select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 .2rem var(--bg);
}
/* END Select Styles */

/* Bucket Editor Style */
.control label {
  color: var(--dark);
  font-weight: 600;
  padding: 0.3rem 0.3rem 0 0;
  display: block;
}

.control input,
.control textarea {
  margin-top: 0.5rem;
  width: 90%;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.control input:focus,
.control textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 .2rem var(--bg);
}

.control button {
  display: block;
}

.control button i {
  font-size: 16px;
}
/* END Bucket Editor Styles */
