/* Custom coloring schema for tabs */
.tabs .indicator {
  background-color: #1d7d74;
}

.tabs .tab a {
  font-weight: 600;
  color: #78909c;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(38, 166, 154, 0.27);
}
